frontend/.vscode
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

backend/venv
backend/__pycache__
backend/logs
backend/test.py
backend/test_backend.py
backend/.vscode
backend/db.sqlite3
backend/db.sqlite3-wal
backend/db.sqlite3-shm
*.md
**/__pycache__/